<h1
  class="text-6xl mx-auto w-full font-bold text-center mt-14 md:mt-28 text-red-400"
>
  Achievements
</h1>

<div class="my-10">
  <figure
    class="md:flex bg-gray-100 rounded-xl p-8 md:p-0 w-64 md:w-6/12 mx-auto mb-6"
  >
    <img
      class="w-32 h-32 md:w-2/5 md:rounded-none rounded-full mx-auto image"
      src="assets/logo_ITO.png"
      alt=""
      width="384"
      height="512"
    />
    <div class="pt-6 md:p-8 md:w-3/5 text-center md:text-left space-y-4">
      <blockquote>
        <p class="text-lg font-semibold">Education</p>
        <p>2016-2020</p>
        <p>Instituto Tecnológico de Oaxaca</p>
      </blockquote>
      <figcaption class="font-medium">
        <div class="text-cyan-600">Computer systems engineer</div>
        <div class="text-gray-500">Oaxaca, México</div>
      </figcaption>
    </div>
  </figure>
  <figure
    class="md:flex bg-gray-100 rounded-xl p-8 md:p-0 w-64 md:w-6/12 mx-auto"
  >
    <img
      class="w-32 h-32 md:w-2/5 md:rounded-none rounded-full mx-auto image"
      src="assets/Logo_Colegio.png"
      alt=""
      width="384"
      height="512"
    />
    <div class="pt-6 md:p-8 md:w-3/5 text-center md:text-left space-y-4">
      <blockquote>
        <p class="text-lg font-semibold">Article</p>
        <p>10/2020</p>
        <p>USO DE LA ARQUITECTURA DE MINISERVICIOS: GESTIÓN DE SERVICIOS</p>
      </blockquote>
      <figcaption class="font-medium">
        <div class="text-cyan-600">Collaborator and Speaker</div>
        <div class="text-gray-500">Querétaro, México</div>
      </figcaption>
    </div>
  </figure>
</div>
